

<div class="h-dvh w-dvh flex">
  <app-header></app-header>
  <div
    class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 border-2 border-gray-100"
  >
    <h2 class="text-2xl font-bold mb-4 text-center text-red-600">
      Patient Details
    </h2>
    <form [formGroup]="donorForm" (ngSubmit)="onSubmit(this.latestDonor)">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="age">
          Age
        </label>
        <input
          type="number"
          id="age"
          formControlName="age"
          class="shadow appearance-none border-2 border-red-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter age"
        />
        <p
          *ngIf="f?.['age']?.touched && f?.['age']?.invalid"
          class="text-red-600 text-xs italic"
        >
          Valid age is required.
        </p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="gender">
          Gender
        </label>
        <select
          id="gender"
          formControlName="gender"
          class="shadow appearance-none border-2 border-red-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
          <option value="">Select gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="others">Others</option>
        </select>
        <p
          *ngIf="f?.['gender']?.touched && f?.['gender']?.invalid"
          class="text-red-600 text-xs italic"
        >
          Gender is required.
        </p>
      </div>

      <!-- Blood Group -->
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="blood_group"
        >
          Blood Group
        </label>
        <select
          id="blood_group"
          formControlName="blood_group"
          class="shadow appearance-none border-2 border-red-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
          <option value="">Select Blood Group</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
        </select>
        <p
          *ngIf="f?.['blood_group']?.touched && f?.['blood_group']?.invalid"
          class="text-red-600 text-xs italic"
        >
          Blood Group is required.
        </p>
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="blood_Quantity"
        >
          Blood Quantity
        </label>
        <input
          type="number"
          id="blood_Quantity"
          formControlName="blood_Quantity"
          class="shadow appearance-none border-2 border-red-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter Blood Quantity"
        />
        <p
          *ngIf="f?.['blood_Quantity']?.touched && f?.['blood_Quantity']?.invalid"
          class="text-red-600 text-xs italic"
        >
          Valid Blood Quantity is required.
        </p>
      </div>

      <!-- Last Date to Receive Blood -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
          Last Date to Donate blood
        </label>
        <input
          type="date"
          id="date"
          formControlName="date"
          class="shadow appearance-none border-2 border-red-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
        <p
          *ngIf="f?.['date']?.touched && f?.['date']?.invalid"
          class="text-red-600 text-xs italic"
        >
          Date is required.
        </p>
      </div>

      <!-- health_issues -->
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="health_issues"
        >
          Health issues
        </label>
        <input
          type="text"
          id="health_issues"
          formControlName="health_issues"
          placeholder="Reason for blood"
          class="shadow appearance-none border-2 border-red-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
        <p
          *ngIf="f?.['health_issues']?.touched && f?.['health_issues']?.invalid"
          class="text-red-600 text-xs italic"
        >
          This is required field.
        </p>
      </div>

      <!-- Submit Button -->
      <div class="flex items-center justify-between">
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-80"
          type="submit"
          [disabled]="donorForm.invalid"
        >
          Next
        </button>
      </div>
    </form>
  </div>
</div>
